/ {
    chosen {
        bootargs = "console=ttyPS0,115200 earlyprintk earlycon clk_ignore_unused";
    };

	leds {
		compatible = "gpio-leds";

		led@heartbeat {
			label = "led-heartbeat";
			gpios = <&gpio0 8 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&i2c0 {
	status = "okay";
	clock-frequency = <50000>;
};

&i2c1 {
	status = "false";
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;

	flash@0 {
		compatible = "mx25l51245g", "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;

        // Quick generation of contiguous MiB-aligned flash partitions:
        // #!/usr/bin/bash
        // addr=0
        // while IFS=" " read -r name mib; do
        //     echo "partition@${name} {"
        //     echo "    label = \"${name}\";"
        //     siz=$(( mib * 0x100000 ))
        //     printf "    reg = <0x%x 0x%x>;\n" "${addr}" "${siz}"
        //     addr=$(( "${addr}" + "${siz}" ))
        //     echo "};"
        // done << EOF
        // mainboot 8
        // mainfit 16
        // goldenboot 8
        // goldenfit 16
        // danteipcore 12
        // dantepersist 2
        // readonlyprops 2
        // EOF

        partition@mainboot {
            label = "mainboot";
            reg = <0x0 0x800000>;
        };
        partition@mainfit {
            label = "mainfit";
            reg = <0x800000 0x1000000>;
        };
        partition@goldenboot {
            label = "goldenboot";
            reg = <0x1800000 0x800000>;
        };
        partition@goldenfit {
            label = "goldenfit";
            reg = <0x2000000 0x1000000>;
        };
        partition@danteipcore {
            label = "danteipcore";
            reg = <0x3000000 0xc00000>;
        };
        partition@dantepersist {
            label = "dantepersist";
            reg = <0x3c00000 0x200000>;
        };
        partition@readonlyprops {
            label = "readonlyprops";
            reg = <0x3e00000 0x200000>;
        };

    };
};

// force enable
&sdhci0 {
    status = "okay";
    xlnx,has-cd = <0>;
    xlnx,has-power = <0>;
    xlnx,has-wp = <0>;
};

&amba {
    akashi: akashi@60000000 {
        compatible = "xlnx,akashi";
        status = "ok";
        interrupt-parent = <&intc>;
        interrupts = <0 29 1>, <0 30 1>, <0 31 1>, <0 32 1>, <0 35 1>;
        interrupt-names = "ts", "rx", "tx", "rxerr", "smi";
        reg = <0x60000000 0x40000>;
        #redundancy = <0x00000002 0x00000008 0x00000050 0x02121000>;
        #control-ports = <0x0>;
        #external-phys = <0x0>;
    };
    syd_reg: syd_reg@60000000 {
        compatible = "xlnx,syd_reg";
        status = "ok";
        interrupt-parent = <&intc>;
        interrupts = <0 33 1>, <0 34 1>, <0 52 1>, <0 53 1>, <0 54 1>;
        interrupt-names = "rx_act", "meter", "rx_ka", "daif", "ape";
        reg = <0x60000000 0x40000>;
    };
};
