#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/pinctrl-zynq.h>

#define SLEW_RATE_SLOW 0
#define SLEW_RATE_FAST 1

/ {
    model = "p16380";

    chosen {
        bootargs = "console=ttyPS0,115200 earlyprintk earlycon clk_ignore_unused";
        stdout-path = &uart0;
    };

    aliases {
        ethernet0 = &gem0;
        i2c0 = &i2c0;
        serial0 = &uart0;
        serial1 = &uart1;
        spi0 = &qspi;
        spi1 = &spi0;
        spi2 = &spi1;
        mmc0 = &sdhci0;
        usb0 = &usb0;
    };

    leds {
        compatible = "gpio-leds";

        led@heartbeat {
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
            function = LED_FUNCTION_STATUS;
            color = <LED_COLOR_ID_GREEN>;
            linux,default-trigger = "heartbeat";
        };
    };

    usb_phy0: phy0@e0002000 {
        compatible = "ulpi-phy";
        #phy-cells = <0>;
        reg = <0xe0002000 0x1000>;
        view-port = <0x0170>;
        drv-vbus;
    };
};

&gpio0 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio0_default>;
};

&clkc {
    ps-clk-frequency = <33333333>;
};

&uart0 {
    u-boot,dm-pre-reloc;
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart0_default>;
};


&uart1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart0_default>;
};

&i2c0 {
    status = "okay";
    clock-frequency = <50000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c0_default>;

    gpio-expander@20 {
        compatible = "ti,tca6416";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        gpio-line-names =
            "sharc1_reset_n",
            "sharc2_reset_n",
            "sharc3_reset_n",
            "sharc4_reset_n",
            "sharc5_reset_n",
            "fpga_spi_sel",
            "fpga_spi_en0",
            "fpga_spi_en1",
            "fpga_spi_en2",
            "fpga2_flash_access",
            "fpga3_flash_access",
            "p16322_flash_access",
            "dmi1_reset_n",
            "dmi1_fault",
            "dmi2_reset_n",
            "dmi2_fault";
    };
    gpio-expander@21 {
        compatible = "ti,tca6416";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
        gpio-line-names =
            "fpga2_prog_b_n",
            "fpga3_prog_b_n",
            "fpga4_prog_b_n",
            "fpga5_prog_b_n",
            "fpga2_init_b_n",
            "fpga3_init_b_n",
            "fpga4_init_b_n",
            "fpga5_init_b_n",
            "fpga2_done",
            "fpga3_done",
            "fpga4_done",
            "fpga5_done",
            "ub_id0",
            "ub_id1",
            "ub_id2";
	};
};

// see pinctrl-zynq.c in linux-xlnx for groups
&pinctrl0 {
    pinctrl_gem0_default: gem0-default {
        mux {
            function = "ethernet0";
            groups = "ethernet0_0_grp";
        };

        conf {
            groups = "ethernet0_0_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
        };

        conf-rx {
            pins =
                "MIO22",
                "MIO23",
                "MIO24",
                "MIO25",
                "MIO26",
                "MIO27";
            bias-high-impedance;
            low-power-disable;
        };

        conf-tx {
            pins =
                "MIO16",
                "MIO17",
                "MIO18",
                "MIO19",
                "MIO20",
                "MIO21";
            bias-disable;
            low-power-enable;
        };

        mux-mdio {
            function = "mdio0";
            groups = "mdio0_0_grp";
        };

        conf-mdio {
            groups = "mdio0_0_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
            bias-disable;
        };
    };

    pinctrl_i2c0_default: i2c0-default {
        mux {
            groups = "i2c0_10_grp";
            function = "i2c0";
        };

        conf {
            groups = "i2c0_10_grp";
            bias-pull-up;
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
        };
    };

    pinctrl_usb0_default: usb0-default {
        mux {
            groups = "usb0_0_grp";
            function = "usb0";
        };

        conf {
            groups = "usb0_0_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
        };

        conf-rx {
            pins =
                "MIO29",
                "MIO31",
                "MIO36";
            bias-high-impedance;
        };

        conf-tx {
            pins =
                "MIO28",
                "MIO30",
                "MIO32",
                "MIO33",
                "MIO34",
                "MIO35",
                "MIO37",
                "MIO38",
                "MIO39";
            bias-disable;
        };
    };

    pinctrl_uart0_default: uart0-default {
        mux {
            groups = "uart0_9_grp";
            function = "uart0";
        };

        conf {
            groups = "uart0_9_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
        };

        conf-rx {
            pins = "MIO46";
            bias-high-impedance;
        };

        conf-tx {
            pins = "MIO47";
            bias-disable;
        };
    };

    pinctrl_uart1_default: uart1-default {
        mux {
            groups = "uart1_10_grp";
            function = "uart1";
        };

        conf {
            groups = "uart1_10_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS18>;
        };

        conf-rx {
            pins = "MIO48";
            bias-high-impedance;
        };

        conf-tx {
            pins = "MIO49";
            bias-disable;
        };
    };

    pinctrl_gpio0_default: gpio0-default {
        mux {
            function = "gpio0";
            groups =
                "gpio0_0_grp",
                "gpio0_7_grp",
                "gpio0_8_grp";
        };

        conf-3v3 {
            groups =
                "gpio0_0_grp",
                "gpio0_7_grp",
                "gpio0_8_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-source = <IO_STANDARD_LVCMOS33>;
        };

        conf-pull-up {
            pins =
                "MIO7", // ENET_RESET_N
                "MIO8"; // HEART_BEAT
            bias-pull-up;
        };

        conf-safeboot-button {
            pins = "MIO0";
            bias-high-impedance; // already pulled up on PCB
        };
    };

    pinctrl_spi1_default: spi1-default {
        mux {
            function = "spi1";
            groups = "spi1_0_grp";
        };
        mux-ss {
            function = "spi1_ss";
            groups =
                "spi1_0_ss0_grp",
                "spi1_0_ss1_grp",
                "spi1_0_ss2_grp";
        };
        conf {
            groups =
                "spi1_0_grp",
                "spi1_0_ss0_grp",
                "spi1_0_ss1_grp",
                "spi1_0_ss2_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            power-soruce = <IO_STANDARD_LVCMOS18>;
        };
        conf-tx {
            pins =
                "MIO10",
                "MIO12",
                "MIO13",
                "MIO14",
                "MIO15";
            bias-disable;
        };
        conf-rx {
            pins = "MIO11";
            bias-high-impedance;
        };
    };
};

&i2c1 {
    status = "false";
};

&gem0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gem0_default>;

    phy-mode = "rgmii-id";
    fixed-link {
        speed = <1000>;
        full-duplex;
    };

//     phy-handle = <&switchphy>;
//     phy-mode = "rgmii-id";
// 
//    mdio {
//        #address-cells = <1>;
//        #size-cells = <0>;
//        switch0: switch0@0 {
//            compatible = "marvell,mv88e6085";
//			reg = <8>;
//            dsa,member = <0 0>;
//            // reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
//
//            ports {
//                #address-cells = <1>;
//                #size-cells = <0>;
//                port@2 {
//                    reg = <2>;
//                    label = "dmi2";
//                };
//
//                port@3 {
//                    reg = <3>;
//                    label = "dmi1";
//                };
//
//                port@4 {
//                    reg = <4>;
//                    label = "external";
//                };
//
//                switchphy: port@5 {
//                    reg = <5>;
//                    label = "cpu";
//                    ethernet = <&gem0>;
//                    phy-mode = "rgmii-id";
//                    fixed-link {
//                        speed = <1000>;
//                        full-duplex;
//                    };
//                };
//            };
//        };
//    };
};

&usb0 {
    status = "okay";
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usb0_default>;
};

&qspi {
    u-boot,dm-pre-reloc;
    status = "okay";
    is-dual = <0>;
    num-cs = <1>;

    flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0x0>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <4>;
        spi-max-frequency = <50000000>;
        #address-cells = <1>;
        #size-cells = <1>;

        // Quick generation of contiguous MiB-aligned flash partitions:
        // #!/usr/bin/bash
        // addr=0
        // while IFS=" " read -r name mib; do
        //     echo "partition@${name} {"
        //     echo "    label = \"${name}\";"
        //     siz=$(( mib * 0x100000 ))
        //     printf "    reg = <0x%x 0x%x>;\n" "${addr}" "${siz}"
        //     addr=$(( "${addr}" + "${siz}" ))
        //     echo "};"
        // done << EOF
        // mainboot 8
        // mainfit 16
        // goldenboot 8
        // goldenfit 16
        // danteipcore 12
        // dantepersist 2
        // readonlyprops 2
        // EOF

        /*
        partition@mainboot {
            label = "mainboot";
            reg = <0x0 0x800000>;
        };
        partition@mainfit {
            label = "mainfit";
            reg = <0x800000 0x1000000>;
        };
        partition@goldenboot {
            label = "goldenboot";
            reg = <0x1800000 0x800000>;
        };
        partition@goldenfit {
            label = "goldenfit";
            reg = <0x2000000 0x1000000>;
        };
        partition@danteipcore {
            label = "danteipcore";
            reg = <0x3000000 0xc00000>;
        };
        partition@dantepersist {
            label = "dantepersist";
            reg = <0x3c00000 0x200000>;
        };
        partition@readonlyprops {
            label = "readonlyprops";
            reg = <0x3e00000 0x200000>;
        };
        */

    };
};

// FPGA flash spi
&spi0 {
    status = "okay";
    num-cs = <1>;

    spidev@0{
        compatible = "rohm,dh2228fv"; // fake compat
        reg = <0>;
        spi-max-frequency = <4000000>;
    };

    //fpga23_flash: flash@0 {
    //    #address-cells = <1>;
    //    #size-cells = <1>;
    //    status = "ok";
    //    compatible = "n25q128a13", "jedjedec,spi-nor";
    //    spi-max-frequency = <1000000>;
    //    reg = <0>;
    //};
};

// SHARC boot spi
&spi1 {
    status = "okay";
    num-cs = <8>;
    is-decoded-cs = <1>;

    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi1_default>;

    spidev@0{
        compatible = "rohm,dh2228fv"; // fake compat
        reg = <1>;
        spi-max-frequency = <30000000>;
    };
    spidev@1{
        compatible = "rohm,dh2228fv";
        reg = <2>;
        spi-max-frequency = <30000000>;
    };
    spidev@2{
        compatible = "rohm,dh2228fv";
        reg = <3>;
        spi-max-frequency = <30000000>;
    };
};

// force enable
&sdhci0 {
    status = "okay";
    xlnx,has-cd = <0>;
    xlnx,has-power = <0>;
    xlnx,has-wp = <0>;
};

&amba {
    akashi: akashi@60000000 {
        compatible = "xlnx,akashi";
        status = "ok";
        interrupt-parent = <&intc>;
        interrupts = <0 29 1>, <0 30 1>, <0 31 1>, <0 32 1>, <0 35 1>;
        interrupt-names = "ts", "rx", "tx", "rxerr", "smi";
        reg = <0x60000000 0x40000>;
        #redundancy = <0x00000002 0x00000008 0x00000050 0x02121000>;
        #control-ports = <0x0>;
        #external-phys = <0x0>;
    };
    syd_reg: syd_reg@60000000 {
        compatible = "xlnx,syd_reg";
        status = "ok";
        interrupt-parent = <&intc>;
        interrupts = <0 33 1>, <0 34 1>, <0 52 1>, <0 53 1>, <0 54 1>;
        interrupt-names = "rx_act", "meter", "rx_ka", "daif", "ape";
        reg = <0x60000000 0x40000>;
    };

    yeng@50000000 {
        compatible = "digico,yeng";
        status = "ok";
        reg = <0x50000000 0x1000>;
        interrupt-parent = <&intc>;
        interrupts = <0 88 1>;
    };

    // dummy to test platform dev init
    yeng@50001000 {
        compatible = "digico,yeng";
        status = "ok";
        reg = <0x50001000 0x1000>;
        interrupt-parent = <&intc>;
        interrupts = <0 89 1>;
    };
};

// vim: set ts=4 sts=4 sw=4 et :
